# copy this to .env and fill in:

SERVER="dev.usedesktop.com"  
# SERVER="usedesktop.com" 

AGENT_ID=

API_KEY=



# Example:
# AGENT_ID = "f6e5cf52-10ec-4fd3-b305-9988429db2a6"
# SERVER="dev.usedesktop.com"  
# API_KEY = "NNc0BvBtOfoNj_U11Ka8ltuBWAPhfbBmMDOe9ZJdHUY"